:root {
	--ansi0: #161510;
	--ansi1: #BE4218;
	--ansi2: #8C8D32;
	--ansi3: #A37720;
	--ansi4: #577574;
	--ansi5: #8F6364;
	--ansi6: #6B8B6E;
	--ansi7: #B09584;
	--ansi8: #635D46;
	--ansi9: #D9511B;
	--ansi10: #A4A531;
	--ansi11: #D99A38;
	--ansi12: #5F9494;
	--ansi13: #B26C80;
	--ansi14: #84A684;
	--ansi15: #D9CEA4;
	--ansi16: #34302B;
	--ansi17: #B7A980;
	--ansi18: #D9CEA4;
	--ansi19: #BE5618;
	--ansi20: #948C6E;
}
.fg0 { color: var(--ansi0); }
.bg0 { background-color: var(--ansi0); }
.fg1 { color: var(--ansi1); }
.bg1 { background-color: var(--ansi1); }
.fg2 { color: var(--ansi2); }
.bg2 { background-color: var(--ansi2); }
.fg3 { color: var(--ansi3); }
.bg3 { background-color: var(--ansi3); }
.fg4 { color: var(--ansi4); }
.bg4 { background-color: var(--ansi4); }
.fg5 { color: var(--ansi5); }
.bg5 { background-color: var(--ansi5); }
.fg6 { color: var(--ansi6); }
.bg6 { background-color: var(--ansi6); }
.fg7 { color: var(--ansi7); }
.bg7 { background-color: var(--ansi7); }
.fg8 { color: var(--ansi8); }
.bg8 { background-color: var(--ansi8); }
.fg9 { color: var(--ansi9); }
.bg9 { background-color: var(--ansi9); }
.fg10 { color: var(--ansi10); }
.bg10 { background-color: var(--ansi10); }
.fg11 { color: var(--ansi11); }
.bg11 { background-color: var(--ansi11); }
.fg12 { color: var(--ansi12); }
.bg12 { background-color: var(--ansi12); }
.fg13 { color: var(--ansi13); }
.bg13 { background-color: var(--ansi13); }
.fg14 { color: var(--ansi14); }
.bg14 { background-color: var(--ansi14); }
.fg15 { color: var(--ansi15); }
.bg15 { background-color: var(--ansi15); }
.fg16 { color: var(--ansi16); }
.bg16 { background-color: var(--ansi16); }
.fg17 { color: var(--ansi17); }
.bg17 { background-color: var(--ansi17); }
.fg18 { color: var(--ansi18); }
.bg18 { background-color: var(--ansi18); }
.fg19 { color: var(--ansi19); }
.bg19 { background-color: var(--ansi19); }
.fg20 { color: var(--ansi20); }
.bg20 { background-color: var(--ansi20); }
